<div class="container">
    <h2 ng-bind="tableName"></h2>
    <a ui-sref="admin.objectType.new" class="btn btn-success">Создать новый тип</a>
    <table class="table">
       <thead>
           <tr>
               <th>Наименование</th>
               <th>Список объектов</th>
               <th>Действия</th>
           </tr>
       </thead>
       <tbody>
           <tr data-ng-repeat="objType in objTypes">
               <td ng-bind="objType.name"></td>
               <td>
               </td>
               <td>
                   <a ui-sref="admin.objectType.edit({id : objType.id})" class="btn btn-default" data-toggle="tooltip" title="Редактировать тип объекта"><span class="glyphicon glyphicon-pencil"></span></a>
                   <a ui-sref="admin.objectType.del({id : objType.id})" class="btn btn-default" data-toggle="tooltip" title="Удалить тип объекта"><span class="glyphicon glyphicon-remove"></span></a>
               </td>
           </tr>
       </tbody>
    </table>
</div>